.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_8_RELEASE.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_6_7.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_6_7.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_6_0.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/.name
